/* 0, 640px */
/* 641px, 1024px */
/* 1025px, 1440px */
/* 1441px, 1920px */
/* 1921px */
body {
  margin: 0;
  padding: 0;
  color: #37302a;
  font-family: 'Voice Medium';
  font-size: 14pt;
  line-height: 1.75; }

div#container {
  margin: 0 auto;
  width: 960px; }

h1, h2, h3, h4, h5 {
  font-family: 'Thirsty Script Light';
  font-weight: normal;
  color: #111; }

div#the-intro h1 {
  font-size: 3.0em;
  margin: 0;
  letter-spacing: 2pt; }
  div#the-intro h1 span {
    letter-spacing: 0;
    margin: 0 -9px 0 -10px; }
    div#the-intro h1 span.space {
      margin: 0 0px 0 20px; }
  div#the-intro h1.tyler span.y {
    margin: 0 -13px 0 -5px; }
  div#the-intro h1.tyler span.l {
    margin: 0 -5px 0 -10px; }
  div#the-intro h1.tyler span.o {
    margin: 0 -6px 0 -10px; }
  div#the-intro h1.tyler span.n {
    margin: 0 -13px 0 -10px; }
  div#the-intro h1.tyler span.t {
    margin: 0 -4px 0 -10px; }
  div#the-intro h1.tyler span.r {
    margin: 0 -11px 0 -8px; }
  div#the-intro h1.carolyn span.o {
    margin: 0 -13px 0 -10px; }
  div#the-intro h1.carolyn span.l {
    margin: 0 -3px 0 -10px; }
  div#the-intro h1.carolyn span.n {
    margin: 0 -13px 0 -10px; }
  div#the-intro h1.carolyn span.i {
    margin: 0 -4px 0 -10px; }
  div#the-intro h1.carolyn span.r {
    margin: 0 -6px 0 -8px; }
  div#the-intro h1.carolyn span.s {
    margin: 0 -14px 0 -10px; }
  div#the-intro h1.carolyn span.t {
    margin: 0 -5px 0 -10px; }
div#the-intro p {
  margin: 0;
  font-family: 'Thirsty Script Light';
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5; }
  div#the-intro p span {
    margin: 0 2px; }
  div#the-intro p span.thirsty-push {
    margin: 0 2px 0 0; }
  div#the-intro p span.thirsty-push-3 {
    margin: 0 3px 0 0; }
  div#the-intro p span.thirsty-push-4 {
    margin: 0 4px 0 0; }
  div#the-intro p span.thirsty-pull {
    margin: 0 -3px 0 0; }

span.thirsty-push {
  margin: 0 2px 0 0; }

span.thirsty-push-3 {
  margin: 0 3px 0 0; }

span.thirsty-push-4 {
  margin: 0 4px 0 0; }

span.thirsty-pull {
  margin: 0 -3px 0 0; }

div#the-big-day ul {
  list-style: none; }
  div#the-big-day ul li {
    padding: 10px;
    display: block;
    font-family: 'Sorren Ex Bold';
    letter-spacing: 2pt;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24pt;
    line-height: 2; }
    div#the-big-day ul li span.time {
      display: inline-block;
      min-width: 80px; }
    div#the-big-day ul li img {
      height: 40px;
      width: 40px;
      margin-right: 10px; }
    div#the-big-day ul li i {
      margin-right: 18px; }

#footer {
  background: url("/images/bedge_grunge.png");
  margin: 0; }
  #footer h1, #footer h2, #footer h3 {
    font-family: 'Sorren Ex Medium';
    letter-spacing: 2pt;
    font-weight: normal;
    text-transform: uppercase; }
  #footer i.glyphicon {
    margin: 0 10px 0 0; }
  #footer:before, #footer:after {
    content: "";
    display: table; }
  #footer:after {
    clear: both; }
  #footer section {
    padding: 20px;
    width: 480px;
    float: left; }
    #footer section h2 {
      margin: 0; }
    #footer section.vendors {
      float: right; }
    #footer section.made-by-the-groom img {
      margin: 10px auto; }
    #footer section.made-by-the-groom span {
      position: absolute;
      font-family: 'Thirsty Script Light';
      font-weight: normal;
      width: 233px;
      margin-left: -175px;
      margin-top: 20px; }
  #footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    #footer ul li {
      margin: 10px 0 0 0; }
  #footer div.tiny {
    clear: both;
    color: #999;
    font-size: 10pt;
    border-top: 1px solid #bbb;
    padding: 0; }
    #footer div.tiny a {
      color: #999; }
    #footer div.tiny ul {
      margin: 0; }
      #footer div.tiny ul li {
        display: inline-block;
        float: right;
        margin: 0 10px 0 0; }

a, a:visited {
  color: #e59608; }

a.btn, a.btn:visited {
  color: #444; }

div.tile {
  min-width: 960px;
  min-height: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  border-top: 2px solid #eeeeee;
  background-size: cover; }
  div.tile#the-intro {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-intro.jpg) no-repeat center top fixed; }
  div.tile#the-couple {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-couple.jpg) no-repeat center top fixed; }
  div.tile#the-proposal {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-proposal.jpg) no-repeat center top fixed; }
  div.tile#the-big-day {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-big-day.jpg) no-repeat center center fixed; }
  div.tile#travel {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/travel.jpg) no-repeat center top fixed; }
  div.tile#guide {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/guide.jpg) no-repeat center top fixed; }
  div.tile#the-registry {
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-registry.jpg) no-repeat center top fixed; }
  div.tile#gallery {
    display: none;
    background: #333333; }
    div.tile#gallery h1 {
      color: #eeeeee; }
  div.tile p, div.tile ul {
    text-align: left; }

div.info {
  width: 860px;
  margin: 200px auto 800px auto;
  border-radius: 8px;
  border: #fff 15px solid;
  padding: 20px;
  text-align: center;
  background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png"); }

div#mobile-web, div#retina {
  display: none; }

div#the-intro div.info {
  margin-top: 300px; }

p.hint {
  text-align: center;
  display: none; }
  p.hint small {
    color: #999; }

div#the-proposal button {
  font-family: 'Sorren Ex Bold';
  letter-spacing: 2pt;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.8em; }
div#the-proposal div#long-story, div#the-proposal div#short-story {
  display: none; }

div#guide h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #aaa; }

div.guide {
  margin-bottom: 30px; }
  div.guide:before, div.guide:after {
    content: "";
    display: table; }
  div.guide:after {
    clear: both; }
  div.guide a.btn {
    font-family: 'Thirsty Script Light';
    font-weight: normal; }
  div.guide h3 {
    font-family: 'Sorren Ex Bold';
    letter-spacing: 2pt;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.2em;
    color: #eeeeee;
    margin: 0; }
    div.guide h3.hint {
      color: #333333;
      font-size: 1.5em; }
  div.guide div.actions {
    position: absolute;
    bottom: 5px;
    width: 215px;
    margin: 0; }
    div.guide div.actions a {
      width: 100px;
      margin: 5px 5px 5px 0;
      font-size: 12pt; }
    div.guide div.actions span {
      margin-top: -4px;
      vertical-align: middle; }
    div.guide div.actions.more a {
      width: 126px; }
  div.guide div.popover {
    font-family: "Voice Medium";
    color: #333333;
    width: 124px; }
  div.guide div.ribbon-wrap {
    overflow: hidden;
    position: absolute;
    width: 215px;
    height: 70px;
    left: 19px;
    top: -2px; }
  div.guide div.ribbon {
    font-family: 'Thirsty Script Light';
    font-weight: normal;
    position: absolute;
    width: 139px;
    height: 30px;
    left: 113px;
    top: 13px;
    transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    background: #00b8de;
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4); }
    div.guide div.ribbon:before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: -1px;
      border: 2px solid;
      border-color: #508395 transparent transparent transparent; }
    div.guide div.ribbon:after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 114px;
      border: 3px solid;
      border-color: #508395 transparent transparent transparent; }
  div.guide span.glyphicon-phone-alt {
    margin-right: 10px; }
  div.guide ul {
    list-style: none; }
    div.guide ul li {
      display: inline-block;
      font-size: 10pt;
      background: none;
      color: #eeeeee;
      margin: 5px;
      width: 230px;
      vertical-align: top; }
      div.guide ul li > div {
        border-radius: 4px;
        padding: 10px;
        background: #333333;
        color: #ddd;
        text-decoration: none;
        height: 325px;
        position: relative; }
  div.guide.getting-there ul li {
    width: 345px; }
    div.guide.getting-there ul li > div {
      height: 535px;
      font-size: 11pt; }

/**************************************** Nav ****************************************/
.nav-collapse {
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  max-height: auto;
  position: fixed !important;
  position: relative;
  display: block;
  overflow: hidden; }
  .nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .nav-collapse.opened {
    max-height: 9999px; }
  .nav-collapse ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    float: left; }
    .nav-collapse ul li {
      display: block;
      width: 200px;
      border-bottom: 1px solid white;
      padding: 10px 10px 0 10px;
      background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png"); }
      .nav-collapse ul li a {
        font-family: 'Sorren Ex Bold';
        letter-spacing: 2pt;
        line-height: 1;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 24pt;
        color: #333333; }
        .nav-collapse ul li a:focus {
          background: #e59608;
          outline: none; }
        .nav-collapse ul li a.active {
          -webkit-font-smoothing: subpixel-antialiased;
          color: #e59608;
          border-bottom: 5px solid #e59608; }
      .nav-collapse ul li.pug {
        height: 73px; }
        .nav-collapse ul li.pug a {
          background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/pug-icon.png") no-repeat;
          width: 60px;
          height: 73px;
          display: block; }

@media only screen and (min-width: 60.063em) {
  .nav-collapse {
    background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png");
    display: block;
    width: 100%;
    min-width: 960px;
    overflow: visible;
    max-height: none;
    z-index: 1;
    position: fixed !important; }
    .nav-collapse ul {
      position: relative;
      text-align: center;
      padding-top: 22px;
      display: block;
      width: 100%; }
      .nav-collapse ul li {
        float: none;
        display: inline-block;
        *display: block;
        *float: left;
        width: 142px;
        margin: 0;
        padding: 0;
        border: none;
        background: none; }
        .nav-collapse ul li a {
          display: block;
          -webkit-font-smoothing: antialiased;
          padding: 10px 10px 10px 10px;
          margin: 0 0 10px 0;
          font-size: 2.4em;
          background: transparent;
          color: #333333;
          border: 0;
          border-bottom: 5px solid transparent;
          -webkit-transition: border-color 0.8s ease-out, color 0.4s ease-out;
          -moz-transition: border-color 0.8s ease-out, color 0.4s ease-out;
          -o-transition: border-color 0.8s ease-out, color 0.4s ease-out;
          transition: border-color 0.8s ease-out, color 0.4s ease-out; }
          .nav-collapse ul li a:hover, .nav-collapse ul li a:focus {
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            color: #e59608;
            border-bottom-color: #e59608;
            -webkit-transition: border-color 0.8s ease-out, color 0.4s ease-out;
            -moz-transition: border-color 0.8s ease-out, color 0.4s ease-out;
            -o-transition: border-color 0.8s ease-out, color 0.4s ease-out;
            transition: border-color 0.8s ease-out, color 0.4s ease-out; }
        .nav-collapse ul li.pug {
          z-index: 1000;
          width: 60px;
          margin-right: 0px;
          height: 60px;
          padding-top: 16px; }
          .nav-collapse ul li.pug a {
            z-index: 1000;
            background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/pug-icon.png") no-repeat;
            width: 60px;
            height: 66px;
            padding-bottom: 20px; }
        .nav-collapse ul li.active a {
          -webkit-font-smoothing: subpixel-antialiased;
          color: #e59608;
          border-bottom: 5px solid #e59608; }
          .nav-collapse ul li.active a:hover {
            text-decoration: none; }
          .nav-collapse ul li.active a:focus {
            background: #e59608; } }
.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: fixed !important;
  width: 70px;
  height: 55px;
  overflow: hidden;
  display: block;
  float: right;
  right: 0px;
  text-indent: -9999px;
  background: black url("/images/hamburger.gif") no-repeat 50% 45%; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px !important;
    -moz-background-size: 100px 100px !important;
    -o-background-size: 100px 100px !important;
    background-size: 100px 100px !important; } }
@media only screen and (min-width: 60.063em) {
  .nav-toggle {
    display: none; } }
/**************************************** Retina ****************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (max-width: 60em), only screen and (max-device-width: 60em) {
  div#retina {
    display: block; }

  h1, h2, h3, h4, h5 {
    font-family: 'Thirsty Script Light';
    font-weight: normal;
    color: #333333; }

  div.info {
    border: none;
    border-radius: 0px;
    font-size: 2.0em;
    background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/bedge_grunge.png");
    width: 100%;
    margin: 0 auto;
    color: #333333; }

  div.tile {
    padding: 0;
    margin: 0 auto;
    min-height: 0; }
    div.tile#the-intro {
      background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-intro-mobile.jpg) no-repeat center top;
      min-height: 1000px; }
      div.tile#the-intro h1 {
        color: #333333; }
      div.tile#the-intro div.info {
        font-size: 1.0em;
        background: white;
        color: #333333;
        background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png");
        margin-top: 360px; }
    div.tile#the-couple {
      background: none; }
    div.tile#the-proposal {
      background: none; }
    div.tile#the-big-day {
      background: none; }
    div.tile#travel {
      background: none; }
    div.tile#the-registry {
      background: none; }
    div.tile#gallery {
      display: block;
      font-size: 2.0em;
      padding-bottom: 110px; }
      div.tile#gallery .carousel {
        background: #333333; }

  div#the-proposal button {
    font-family: 'Sorren Ex Bold';
    letter-spacing: 2pt;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em; }

  div#guide h2 {
    border-bottom: 1px solid #aaa; }

  div.guide {
    margin-bottom: 100px; }
    div.guide:before, div.guide:after {
      content: "";
      display: table; }
    div.guide:after {
      clear: both; }
    div.guide h3.hint {
      color: #333333;
      font-size: 24pt; }
    div.guide div.actions {
      position: absolute;
      bottom: 15px;
      width: 100%; }
      div.guide div.actions a {
        width: auto;
        margin: 5px 5px 5px 0;
        padding: 24px 20px 24px 20px;
        font-size: 24pt; }
        div.guide div.actions a span {
          margin-top: -4px;
          vertical-align: middle; }
      div.guide div.actions.more a {
        width: 248px; }
        div.guide div.actions.more a span {
          margin-top: -8px;
          vertical-align: middle; }
    div.guide div.ribbon-wrap {
      overflow: hidden;
      position: absolute;
      width: 415px;
      height: 152px;
      left: 20px;
      top: -4px; }
    div.guide div.ribbon {
      width: 270px;
      height: 50px;
      left: 185px;
      top: 30px;
      padding: 10px 0 0 0;
      font-size: 24pt; }
      div.guide div.ribbon:before {
        bottom: -4px;
        left: -1px;
        border: 2px solid;
        border-color: #508395 transparent transparent transparent; }
      div.guide div.ribbon:after {
        bottom: -6px;
        left: 114px;
        border: 3px solid;
        border-color: #508395 transparent transparent transparent; }
    div.guide span.glyphicon-phone-alt {
      margin-right: 10px; }
    div.guide ul {
      list-style: none; }
      div.guide ul li {
        display: inline-block;
        background: none;
        color: #eeeeee;
        margin: 5px;
        width: 430px;
        vertical-align: top; }
        div.guide ul li > div {
          font-size: 2.0em;
          border-radius: 4px;
          padding: 20px;
          background: #333;
          color: #aaa;
          text-decoration: none;
          height: 825px;
          position: relative; }
    div.guide.getting-there ul li {
      width: 48%; }
      div.guide.getting-there ul li > div {
        height: 1535px;
        font-size: 2.0em; } }
/**************************************** Mobile-Web ****************************************/
@media only screen and (max-width: 60em) {
  div#mobile-web {
    display: block; }

  html body {
    width: 100%;
    min-width: none;
    argin: 0;
    padding: 0; }

  html body p {
    font-size: 13pt; }

  div.tile {
    min-width: 0; }
    div.tile h1 {
      font-size: 24pt; }

  div#the-proposal button {
    font-size: 24pt;
    margin: 10px 0 0 0; }

  div.guide {
    width: 100%; }
    div.guide ul {
      width: auto;
      margin: 0;
      padding: 0; }
      div.guide ul li {
        width: 100%; }
        div.guide ul li > div {
          height: auto;
          min-height: 200px;
          font-size: 2.0em; }
    div.guide div.actions {
      position: relative;
      width: 100%; }
      div.guide div.actions a {
        width: auto;
        margin: 5px 5px 5px 0;
        padding: 12px 10px 0 10px; }
      div.guide div.actions span {
        margin-top: -4px;
        vertical-align: middle; }
      div.guide div.actions.more a {
        width: auto; }
      div.guide div.actions div.popover {
        font-size: 12pt;
        width: auto; }
    div.guide div.ribbon-wrap {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 152px;
      left: auto;
      right: -10px;
      top: -4px; }
    div.guide div.ribbon {
      transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      width: 170px;
      height: 50px;
      left: auto;
      right: -5px;
      top: 0;
      padding: 10px 0 0 0;
      font-size: 24pt; }
      div.guide div.ribbon:before {
        display: none; }
      div.guide div.ribbon:after {
        position: absolute;
        left: auto;
        bottom: -13px;
        right: 5px;
        border-top: 10px solid #508395;
        border-right: 10px solid transparent; }
    div.guide.getting-there ul li {
      width: auto; }
      div.guide.getting-there ul li > div {
        height: auto;
        font-size: 2.0em; } }
