body {
  margin: 0;
  padding: 0;
  color: #37302a;
  font: 400 112.5%/1.4 "chaparral-pro",Georgia,"times new roman",times,serif; }

div#container {
  margin: 0 auto;
  width: 960px; }

h1, h2, h3, h4, h5 {
  text-transform: lowercase;
  font-family: SimpleRonde-Regular;
  font-weight: normal;
  font-style: normal;
  color: #111; }

#footer {
  background: #555;
  color: #fff;
  padding: 60px;
  margin: 0;
  margin-top: 60px; }

a, a:visited {
  color: #638d4e; }

.tile {
  min-height: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  border-top: 2px solid #aaa; }
  .tile.couple-at-mission-ranch {
    padding-top: 350px;
    background: url(/images/CarolynTylerMissionRanch-1850.jpg) no-repeat center top fixed; }
  .tile.dinner {
    padding-top: 350px;
    background: url(/images/Dinner-1850.jpg) no-repeat center top fixed; }
  .tile.the-gate {
    padding-top: 350px;
    background: url(/images/TheGate-1850.jpg) no-repeat center top fixed; }
  .tile.point-lobos {
    padding-top: 350px;
    background: url(/images/PointLobos-1850.jpg) no-repeat center top fixed; }
  .tile.the-pug {
    padding-top: 350px;
    background: url(/images/ThePug-1850.jpg) no-repeat center top fixed; }
  .tile p, .tile ul {
    text-align: left; }

div.info {
  width: 860px;
  margin: 0 auto;
  border-radius: 8px;
  border: #fff 15px solid;
  padding: 20px;
  text-align: center;
  margin-top: 200px;
  background: url("/images/blur.png"); }
