html body{
  h1, h2, h3{
    font-size: 4.0em;
  }
  h3.hint{
    font-size: 3.0em;
  }
  p{
    font-size: 2.0em;
  }
  #nav ul li a{
    font-size: 4.0em;
  }
  #the-intro h1{
    font-size: 4.0em;
  }
  #the-intro p{
    font-size: 2.5em;
  }
  #footer{
    h2{ 
      font-size: 3.0em;
    }
    span{ display: none;}
    a{
      font-size: 2.2em;
      i{
        font-size: 0.8em;
      }
    }
  }
}

