@import 'foundation';

$orange: #E59608;
$green: #638D4E;
$black: #333;
$white: #eee;

@mixin sorren-font{
  font-family: 'Sorren Ex Bold';
  letter-spacing: 2pt;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin thirsty-font{
  font-family: 'Thirsty Script Light';
  font-weight: normal;
}

@mixin clearfix {
  &:before, &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}

@mixin rotate($deg){
  transform: rotate($deg);
  -ms-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
}
body{ margin: 0; padding: 0;
  color: #37302a;
  // font-family: 'Voice Book';
  // font-family: 'Voice Regular';
  font-family: 'Voice Medium';
  font-size: 14pt;
  line-height: 1.75;
}
div#container{ margin: 0 auto; width: 960px;}

h1, h2, h3, h4, h5 { 
  @include thirsty-font;
  color: #111;
}
div#the-intro{
  h1{ 
    font-size: 3.0em;
    margin: 0;
    letter-spacing: 2pt;
    span{
      letter-spacing: 0;
      margin:0 -9px 0 -10px;
      &.space{
        margin:0 0px 0 20px;
      }
    }
    &.tyler{
      span{
        &.y{
          margin:0 -13px 0 -5px;
        }
        &.l{
          margin:0 -5px 0 -10px;
        }
        &.o{
          margin:0 -6px 0 -10px;
        }
        &.n{
          margin:0 -13px 0 -10px;
        }
        &.t{
          margin:0 -4px 0 -10px;
        }
        &.r{
          margin:0 -11px 0 -8px;
        }
      }
    }
    &.carolyn{
      span{
        &.o{
          margin:0 -13px 0 -10px;
        }
        &.l{
          margin:0 -3px 0 -10px;
        }
        &.n{
          margin:0 -13px 0 -10px;
        }
        &.i{
          margin:0 -4px 0 -10px;
        }
        &.r{
          margin: 0 -6px 0 -8px;
        }
        &.s{
          margin:0 -14px 0 -10px;
        }
        &.t{
          margin:0 -5px 0 -10px;
        }
      }
    }
  }
  p{
    margin: 0;
    @include thirsty-font;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5;
    span{
      margin:0 2px;
    }
    span.thirsty-push{
      margin:0 2px 0 0;
    }
    span.thirsty-push-3{
      margin:0 3px 0 0;
    }
    span.thirsty-push-4{
      margin:0 4px 0 0;
    }
    span.thirsty-pull{
      margin:0 -3px 0 0;
    }
  }
}
span.thirsty-push{
  margin:0 2px 0 0;
}
span.thirsty-push-3{
  margin:0 3px 0 0;
}
span.thirsty-push-4{
  margin:0 4px 0 0;
}
span.thirsty-pull{
  margin:0 -3px 0 0;
}

div#the-big-day{
  ul{
    list-style: none;
    li{
      padding: 10px;
      // background: $black;
      // color: $white;
      display: block;
      @include sorren-font;
      font-size: 24pt;
      line-height: 2;
      span.time{ display: inline-block; min-width: 80px;}
      img{
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }
      i{
        margin-right: 18px;
      }
    }
  }
}

#footer{
  background: url("/images/bedge_grunge.png");
  margin: 0;
  h1, h2, h3{
    font-family: 'Sorren Ex Medium';
    letter-spacing: 2pt;
    font-weight: normal;
    text-transform: uppercase;
  }
  i.glyphicon{
    margin: 0 10px 0 0;
  }
  @include clearfix;
  section{
    h2{ margin: 0; }
    padding: 20px;
    width: 480px;
    float: left;
    &.vendors{
      float: right;
    }
    &.made-by-the-groom{
      img{
        margin: 10px auto;
      }
      span{ 
        position: absolute;
        @include thirsty-font;
        width: 233px;
        margin-left: -175px;
        margin-top: 20px;
      }
    }
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{ 
      margin: 10px 0 0 0;
    }
  }
  div.tiny{
    clear:both;
    color: #999;
    font-size: 10pt;
    border-top: 1px solid #bbb;
    padding: 0;
    a{
      color: #999;
    }
    ul{
      margin: 0;
      li{
        display: inline-block;
        float: right;
        margin: 0 10px 0 0;
      }
    }
  }
}

a, a:visited{
  color: $orange; 
}

a.btn, a.btn:visited { 
  color: #444; 
}

div.tile{
  min-width: 960px; 
  min-height: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0;
  border-top: 2px solid $white;
  background-size: cover;
  &#the-intro{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-intro.jpg) no-repeat center top fixed; 
  }
  &#the-couple{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-couple.jpg) no-repeat center top fixed; 
  }
  &#the-proposal{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-proposal.jpg) no-repeat center top fixed; 
  }
  &#the-big-day{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-big-day.jpg) no-repeat center center fixed; 
  }
  &#travel{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/travel.jpg) no-repeat center top fixed; 
  }
  &#guide{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/guide.jpg) no-repeat center top fixed; 
  }
  &#the-registry{
    background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-registry.jpg) no-repeat center top fixed; 
  }
  &#gallery{
    display: none;
    background: $black;
    h1{
      color: $white;
    }
  }
  p, ul{
    text-align: left;
  }
  
}
div.info{
  width: 860px;
  margin: 200px auto 800px auto;
  border-radius: 8px;
  border: #fff 15px solid;
  padding: 20px;
  text-align: center;
  background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png");
}

div#mobile-web, div#retina{ display: none;}

div#the-intro div.info{
  margin-top:300px;
}

p.hint{
  text-align: center;
  display:none;
  small{ color: #999;} 
}

div#the-proposal{
  button{
      @include sorren-font;
      font-size: 1.8em;
    }
  div#long-story, div#short-story{ display: none;}
}
div#guide{
  h2{
    font-size: 1.6em; 
    border-bottom: 1px solid #aaa;
  }
}
  div.guide{
    @include clearfix;
    margin-bottom: 30px;
    a.btn{
      @include thirsty-font;
    }
    h3{
      @include sorren-font;
      font-size: 2.2em;
      color: $white;
      margin: 0;
      &.hint{
        color: $black;
        font-size: 1.5em;
      }
    }
    div.actions {
      position: absolute;
      bottom: 5px;
      width: 215px;
      margin: 0;
      a{
        width: 100px;
        margin: 5px 5px 5px 0;
        font-size: 12pt;
      }
      span{
        margin-top: -4px;
        vertical-align: middle ;
      }
      &.more a{
        width: 126px;
      }
    }
    div.popover{
      font-family: "Voice Medium";
      color: $black;
      width: 124px;
    }
    div.ribbon-wrap{
      overflow: hidden;
      position: absolute;
      width: 215px;
      height: 70px;
      left: 19px;
      top: -2px;
    }
    div.ribbon{
      @include thirsty-font;
      position: absolute;
      width: 139px;
      height: 30px;
      left: 113px;
      top: 13px;
      @include rotate(35deg);
      background: #00b8de;
      color: #fff;
      font-size: 16px;
      line-height: 34px;
      text-align: center;
      text-shadow: -1px 1px 1px rgba(0,0,0,0.4);
      &:before{
        content: "";
        position: absolute;
        bottom: -4px;
        left: -1px;
        border: 2px solid;
        border-color: #508395 transparent transparent transparent;
      }
      &:after{
        content: "";
        position: absolute;
        bottom: -6px;
        left: 114px;
        border: 3px solid;
        border-color: #508395 transparent transparent transparent;
      }

    }
    span.glyphicon-phone-alt{
      margin-right: 10px;
    }
    ul{
      list-style: none;
      li{
        display: inline-block;
        font-size: 10pt;
        background: none;
        color: $white;
        margin: 5px;
        width: 230px;
        vertical-align: top;
        > div{
          border-radius: 4px;
          padding: 10px;
          background: $black;
          color: #ddd;
          text-decoration: none;
          height: 325px;
          position: relative;
        }
      }
    }
    &.getting-there{
      ul li{
        width: 345px;
        > div{
          // background:#244997;
          // color: $white;
          height: 535px;
          font-size: 11pt;
        }
      }
    }
  }
/**************************************** Nav ****************************************/
$nav_transition: border-color .8s ease-out, color .4s ease-out;
div#nav{ 
}

.nav-collapse {
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  float: left;
  max-height: auto;
  position: fixed !important;
  position:relative;
  display: block;
  overflow: hidden;
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  &.opened {
    max-height: 9999px;

  }
  ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 200px;
    float: left;
    li {
      display: block;
      width: 200px;
      border-bottom: 1px solid white;
      padding: 10px 10px 0 10px;
      background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png");
      a {
        @include sorren-font;
        font-size: 24pt;
        color: $black;
        &:focus {
          background: $orange;
          outline: none;
        }
        &.active{
          -webkit-font-smoothing: subpixel-antialiased;
          color: $orange;
          border-bottom: 5px solid $orange;
        }
      }
      &.pug{
        height: 73px;
        a{
          background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/pug-icon.png") no-repeat;
          width: 60px;
          height: 73px;
          display: block;
        }
      }
    }
  }

}

@media #{$medium-up}{
.nav-collapse{
  background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png");
  display: block;
  width: 100%;
  min-width: 960px; 
  overflow: visible;
  max-height: none;
  z-index: 1;
  position: fixed !important;
  ul {
    position: relative;
    text-align: center;
    padding-top: 22px;
    display: block;
    width: 100%;
    li { 
      float: none;
      display: inline-block;
      *display: block;
      *float: left;
      width: 142px;
      margin: 0;
      padding: 0;
      border: none;
      background: none;
      a{
        display: block;
        -webkit-font-smoothing: antialiased;
        padding: 10px 10px 10px 10px;
        margin: 0 0 10px 0;
        font-size: 2.4em;
        background: transparent;
        color: $black;
        border: 0;
        border-bottom: 5px solid transparent;
        -webkit-transition: $nav_transition;
        -moz-transition: $nav_transition;
        -o-transition: $nav_transition;
        transition: $nav_transition;
        &:hover, &:focus {
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
          color: $orange;
          border-bottom-color: $orange;
          -webkit-transition: $nav_transition;
          -moz-transition: $nav_transition;
          -o-transition: $nav_transition;
          transition: $nav_transition;
        }
      }
      &.pug{
        z-index: 1000;

        width: 60px;
        margin-right: 0px;
        height: 60px;
        padding-top: 16px;
        a{
        z-index: 1000;
          background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/pug-icon.png") no-repeat;
          width: 60px;
          height: 66px;
          padding-bottom: 20px;

        }
      }
      &.active{
        a{
          -webkit-font-smoothing: subpixel-antialiased;
          color: $orange;
          border-bottom: 5px solid $orange;
          &:hover {
            text-decoration: none;
          }

          &:focus {
            background: $orange;
          }
        }
      }
      
    }
  }
}
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: fixed !important;
  width: 70px;
  height: 55px;
  overflow: hidden;
  display: block;
  float: right;
  right: 0px;
  text-indent: -9999px;
  background: #000 url("/images/hamburger.gif") no-repeat 50% 45%;
}

@media #{$retina}{
  .nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    -webkit-background-size: 100px 100px !important;
    -moz-background-size: 100px 100px !important;
    -o-background-size: 100px 100px !important;
    background-size: 100px 100px !important;
  }
}

@media #{$medium-up}{
  .nav-toggle {
    display: none;
  }
}
/**************************************** Retina ****************************************/

@media #{$retina}, #{$mobile-web} {
  
  div#retina{display: block;}
  h1, h2, h3, h4, h5 { 
    @include thirsty-font;
    color: $black;
  }
  div.info{
    border: none;
    border-radius: 0px;
    font-size: 2.0em;
    background: url('http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/bedge_grunge.png');
    width: 100%;
    margin: 0 auto;
    color: $black;
  }
  div.tile{
    padding: 0;
    margin:0 auto;
    min-height: 0;
    &#the-intro{
      background: url(http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/the-intro-mobile.jpg) no-repeat center top; 
      min-height: 1000px;
      h1{
        color: $black;
      }
      div.info{
        font-size: 1.0em;
        background: white;
        color: $black;
        background: url("http://d22oiu9iz2vanq.cloudfront.net/carolynandtyler/blur.png");
        margin-top: 360px;
      }
    }
    &#the-couple{
      background: none;
    }
    &#the-proposal{
      background: none;
    }
    &#the-big-day{
      background: none;
    }
    &#travel{
      background: none;
    }
    &#the-registry{
      background: none;
    }
    &#gallery{
      display: block;
      font-size: 2.0em;
      padding-bottom: 110px;
      .carousel{
        background: $black;
        img{
          // height: 50%;
          // width: 100%;
        }
      }
    }
  }
  div#the-proposal{
  button{
      @include sorren-font;
      font-size: 1.2em;
    }
  }
  div#guide{
    h2{
      border-bottom: 1px solid #aaa;
    }
  }
  div.guide{
    @include clearfix;
    margin-bottom: 100px;
    h3{
      &.hint{
        color: $black;
        font-size: 24pt;
      }
    }
    div.actions {
      position: absolute;
      bottom: 15px;
      width: 100%;
      a{
        width: auto;
        margin: 5px 5px 5px 0;
        padding: 24px 20px 24px 20px;
        font-size: 24pt;
        span{
          margin-top: -4px;
          vertical-align: middle ;
        }
      }
      &.more a{
        width: 248px;
        span{
          margin-top: -8px;
          vertical-align: middle ;
        }
      }
    }
    div.ribbon-wrap{
      overflow: hidden;
      position: absolute;
      width: 415px;
      height: 152px;
      left: 20px;
      top: -4px;
    }
    div.ribbon{
      width: 270px;
      height: 50px;
      left: 185px;
      top: 30px;
      padding: 10px 0 0 0;
      font-size: 24pt;
      &:before{
        bottom: -4px;
        left: -1px;
        border: 2px solid;
        border-color: #508395 transparent transparent transparent;
      }
      &:after{
        bottom: -6px;
        left: 114px;
        border: 3px solid;
        border-color: #508395 transparent transparent transparent;
      }

    }
    span.glyphicon-phone-alt{
      margin-right: 10px;
    }
    ul{
      list-style: none;
      li{
        display: inline-block;
        background: none;
        color: $white;
        margin: 5px;
        width: 430px;
        vertical-align: top;
        > div{
          font-size: 2.0em;
          border-radius: 4px;
          padding: 20px;
          background: #333;
          color: #aaa;
          text-decoration: none;
          height: 825px;
          position: relative;
        }
      }
    }
    &.getting-there{
      ul li{
        // TODO don't use percentage!
        width: 48%;
        > div{
          height: 1535px;
          font-size: 2.0em;
        }
      }
    }
  }
}



/**************************************** Mobile-Web ****************************************/
@media #{$small-only}{
  div#mobile-web{display: block;}

  html body{
    width: 100%;
    min-width: none;
    argin: 0;
    padding: 0;
  }
  html body p {
    font-size: 13pt;
  }
  div.tile {
    min-width: 0;
    h1{
        font-size: 24pt;
    }
  }

  div#the-proposal{
    button{
      font-size: 24pt;
      margin: 10px 0 0 0;
    }
  }
  div.guide{
    width: 100%;
    ul{
      width: auto;
      margin: 0;
      padding: 0;
      li{
        // TODO don't use percentage!
        width: 100%;
        > div{
          height: auto;
          min-height: 200px;
          font-size: 2.0em;
        }
      }
    }
    div.actions{
      position: relative;
      width: 100%;
       a{
        width: auto;
        margin: 5px 5px 5px 0;
        padding: 12px 10px 0 10px;
        // font-size: 12pt;
      }
      span{
        margin-top: -4px;
        vertical-align: middle ;
      }
      &.more a{
        width: auto;
      }
      div.popover{
        font-size: 12pt;
        width: auto;
      }

    }
    div.ribbon-wrap{
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 152px;
      left: auto;
      right: -10px;
      top: -4px;
    }
    div.ribbon{
      @include rotate(0deg);
      width: 170px;
      height: 50px;
      left: auto;
      right: -5px;
      top: 0;
      padding: 10px 0 0 0;
      font-size: 24pt;
      &:before{
        display: none;
      }
      &:after{
        position: absolute;
        left: auto;
        bottom: -13px;
        right: 5px;
        border-top: 10px solid #508395;
        border-right: 10px solid transparent;
      }
    }
    &.getting-there{
      ul li{
        width: auto;
        > div{
          height: auto;
          font-size: 2.0em;
        }
      }
    }
  }

}
